@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d5d6df;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

h2 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.ListableWrapper {
  background: #003057;
  margin-top: 5rem;
  padding: 4rem;
  border-radius: 50px;
}

.ListableForm {
  width: 100%;
  margin-bottom: 1rem;
}

.listable-input {
  outline: none;
  background: none;
  border: 1px solid #4d4d4d;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  border-radius: 5px;
}

.listable-input::placeholder {
  color: #808080;
}

.listable-btn {
  background: #720f06;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Listable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #463f32;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #f0c300;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}